/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  max-width: 1550px;
  margin: 0 auto;
  background-color: rgb(248, 239, 230);
}

header {
  background-color: rgb(186, 164, 143);
  padding: 15px;
  text-align: left;
  font-family: "Barriecito", system-ui;
  font-style: normal;
  font-size: 20px;
  color: rgb(13, 9, 5);
}

main {
  margin: 0 20px;
  padding: 15px;
  padding-top: 150px;
  padding-bottom: 100px;
}

a {
  text-align: center;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  color: rgb(47, 34, 18);
  font-weight: 400;
}

h2 {
  color: rgb(47, 34, 18);
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 30px;
  padding: 20px;
}

.overskrifter {
  text-align: center;
}

a:hover {
  font-weight: 800;
  color: rgb(47, 34, 18);
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 60px;
}

/* hver ting i grid'et bliver en boks */
.categories > * {
  border: 1px solid rgb(169, 149, 130);
  border-radius: 10px;
  padding: 28px;
  background-color: rgb(186, 164, 143);
  text-align: center;
  color: rgb(47, 34, 18);
  font-weight: 400px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px; /* kun mellem kolonner */
  row-gap: 40px; /* kun mellem rækker */
}

.productlist {
  gap: 10px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  padding: 2px;
  font-weight: 400;
  text-align: left;
  font-size: 15px;
}

.productlist img {
  border-radius: 7px;
}

h3 {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: left;
}

.product {
  color: rgb(47, 34, 18);
}

.price {
  font-size: 18px;
}

.discounted {
  display: none;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  padding: 2px;
  font-weight: 400;
  text-align: left;
  font-size: 15px;
}

.discounted p:last-child {
  background: var(--off-color);
  padding: 0.2rem;
}

.discounted > p {
  margin-bottom: 0;
}

#grid_2_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px; /* kun mellem kolonner */
  row-gap: 40px; /* kun mellem rækker */
}

#list {
  text-align: center;
  font-size: 18px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

#productname {
  text-align: center;
}

#button_details {
  display: block;
  margin: 25px auto 0; /* 25px ned, auto i siderne = centreret */
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid rgb(169, 149, 130);
  background-color: rgb(186, 164, 143);
  color: rgb(47, 34, 18);
}

#button_details:hover {
  background-color: rgb(151, 130, 110);
}

/* når article har attributten soldout, så gør billedet sløret */
.productlist[soldout] img {
  opacity: 0.4;
}

.soldout_text {
  font-weight: bold;
  margin: 0 0 6px;
  color: rgb(253, 3, 3);
}

/* DISCOUNT */
.discounted {
  padding: 6px;
  margin-top: 8px;
  border-radius: 5px;
}

#discount_1 {
  color: rgb(214, 214, 73);
  background-color: black;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
}

#discount_2 {
  color: rgb(214, 214, 73);
  background-color: black;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 8px auto 0;
  font-size: 15px;
}

.productlist_button {
  margin: 10px;
  padding: 7px 20px;
  border-radius: 5px;
  border: 1px solid rgb(169, 149, 130);
  background-color: rgb(186, 164, 143);
  color: rgb(47, 34, 18);
  width: 130px;
}

.productlist_button:hover {
  background-color: rgb(151, 130, 110);
}

#product_pic img {
  max-width: 10px;
}
@media screen and (max-width: 1000px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    justify-content: center;
  }

  .categories > * {
    padding: 15px;
  }

  a {
    font-size: 13px;
  }

  main {
    padding-top: 100px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  #grid_2_1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  #productname,
  #list {
    text-align: left;
  }
}
